@tailwind base;
@tailwind components;
@tailwind utilities;

/* Declare theme color */
@layer base {
  :root {
    --color-primary: 3 23 137;
    --color-primary-hover: 32 112 203;
    --color-on-primary: 214 231 255;
    --color-on-primary-hover: 255 255 255;

    --color-secondary: 55 65 81;
    --color-secondary-hover: 107 114 128;

    --color-success: 21 128 61;
    --color-warning: 255 152 0;
    --color-danger: 153 27 27;

    --color-muted: 203 213 225;

    --color-surface: 255 255 255;

    --color-background: 241 245 249;

    --color-paragraph: 17 24 39;
    --color-paragraph-variant: 107 114 128;
  }
}

@layer components {
  #__next {
    @apply h-full bg-background text-paragraph;
  }
}

.transition-smooth {
  @apply transition-all duration-300 ease-in-out;
}

a {
  @apply transition-all duration-300 ease-in-out;
}
